body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.boxed {
  float: left;
  width: 250px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 5px;
  border: 2px solid green;
  text-align: center;
}

.center {
  text-align: center;
}
